jupyter-book
matplotlib
numpy
ghp-import
jupyter
jupyterlab_rise
pandas
scikit-learn
plotly
seaborn
networkx
panel
jupyter_bokeh
altair
hvplot
holoviews
dask
dask[dataframe]
dask[distributed]
graphviz
sympy